
body {
	background-color:#EBF4FA;
	display: flex;
	justify-content: center;
	align-items: center;
}
.full {
	width: 65%;
	max-width: 1800px;
	min-height: 170px;
	margin: 0px;
	display: grid;
	grid-template-columns: 2fr 4fr;
}
.left {

	border-top-left-radius:20px;
	border-bottom-left-radius:20px;
	position: initial;
	background-color: #3BB9FF;
	padding: 20px;
}
.left img{
	border-radius: 50%;
}

.right {
	border-top-right-radius:20px;
	border-bottom-right-radius:20px;
	position: initial;
	background-color:#87CEFA;
	padding: 20px;
}
table, th, td {
	border: 1px solid black;
  }
  th, td {
	border-color: #808080;
  }
.image, .Contact, .Skills, .Language, .Hobbies,
.Objective, .Education, .Projects {
	margin-bottom: 30px;
}
.h2 {
	background-color: rgb(4, 96, 150);
}
